
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .carousel {
        margin-bottom: 4rem;
      }
      .carousel-caption {
        bottom: 3rem;
        z-index: 10;
      }
      .carousel-item {
        height: 32rem;
      }
      .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
      }
      h1{
        text-align: center;
    }
    .head{
      font-size: x-large;
    }
    .para{
        padding: 10px;
        background-color:rgb(233, 236, 239);
        color:black;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    article > p{
        
        clear: both
    }
      .footer{
        background-color: #212529;
        height: 100px;
        color: white;
        text-align: center;
        
    }
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

    